<header class="dialog-header">
  <p class="secondary-text text-center header-text">2016 KPI:$15M Renewal Revenue (Strategic Goal)</p>
  <mat-icon class="dialog-close" (click)="closeDialog()">clear</mat-icon>
</header>
<section>
  <h1 class="text-center dialog-title">Add entities</h1>
  <mat-card class="entities-wrapper">
    <mat-card-content>

      <div class="search-wrapper">
        <mat-icon class="search-icon">search</mat-icon>
        <input type="text" [(ngModel)]="searchText" placeholder="Search entity" class="search-field">
        <div class="filter-container">
          <mat-icon class="filtering-icon" (click)="toggleOrderFilter()" [ngClass]="{'active': shouldSort}">filter_list</mat-icon>
          <mat-icon *ngIf="shouldSort && ascending" (click)="toggleAscending()">vertical_align_bottom</mat-icon>
          <mat-icon *ngIf="shouldSort && !ascending" (click)="toggleAscending()">vertical_align_top</mat-icon>
        </div>
      </div>

      <mat-list role="list" class="entities-list">
        <mat-list-item class="entities-list-item" role="listitem" *ngFor="let entity of entitiesList | search:searchText | orderBy:shouldSort:ascending">
          <mat-checkbox [(ngModel)]="entity.checked">
            <span class="entity-text-info">{{ entity.name }}</span>
            <span class="category secondary-text entity-text-info">{{ entity.category }}</span>
          </mat-checkbox>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>
  <button mat-raised-button color="primary" class="text-uppercase text-center" (click)="connectEntities()">Connect</button>
</section>


