.category
  display: block

.mat-raised-button.mat-primary
  background-color: #4caf50
  margin: 93px auto 0
  display: block
  font-weight: normal
  padding: 12px 86px

.dialog-header
  position: relative
  min-height: 56px
  padding-top: 20px

  .header-text
    margin: 0
    padding: 0 80px

.dialog-close
  position: absolute
  right: 10px
  top: 0
  cursor: pointer
  color: #c2c2c2
  font-size: 56px
  width: 56px
  height: 56px
  &:hover
    background-color: rgba(0, 0, 0, .1)

.dialog-title
  font-weight: normal
  font-size: 31px
  margin-top: 10px
  margin-bottom: 42px

.search-wrapper
  position: relative

  .search-icon
    position: absolute
    top: 18px
    left: 28px
    color: #cccccc

  .search-field
    width: calc(100% - 104px)
    height: 65px
    box-sizing: border-box
    display: inline-block
    margin: 0 0 0 39px
    font-size: 16px
    font-family: Roboto, "Helvetica Neue", sans-serif
    padding: 0 26px 5px
    outline: none
    border: none

    &::-webkit-input-placeholder
      color: #9e9e9e
    &::-moz-placeholder
      color: #9e9e9e
    &:-ms-input-placeholder
      color: #9e9e9e
    &:-moz-placeholder
      color: #9e9e9e


.filter-container
  position: absolute
  top: 0
  right: 0
  bottom: 0
  width: 65px
  padding: 21px 6px
  box-sizing: border-box
  -webkit-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none

  .mat-icon
    cursor: pointer

  .filtering-icon
    &.active
      color: #4caf50

.entities-wrapper
  padding: 0

.entities-list
  padding: 0

  .entities-list-item
    border-top: 1px solid #eeeeee
    padding: 12px 14px

  .entity-text-info
    margin-left: 7px
    font-size: 16px
    &.category
      font-size: 13px
